html {
    background-color: #F7FFF8;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F7FFF8;


}

body {
    padding: 10px;
    background-image: url("../Images/grass-background.jpg");
}

/* footer {
    background-image: url("../Images/grass-background.jpg");
} */



