#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolList {
    display: flex;
    flex-direction: row;
}

.tools {
    align-content: space-around;
}