#root {
    background-color: rgba(211, 234, 216, 0.92);
}

body {

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("../Images/grass-background.jpg");
}

/* .header {
    border: 1px solid black;
} */

.headerTitle {
    font-family: "ITC Friz Quadrata";
    color: #1F2421;
    font-weight: 600;
    font-size: 100px;
    padding-top: 0px;
    padding-left: 150px;
    width: 100%;
    border-top: 7px solid #1F2421;
    border-bottom: 7px solid #1F2421;
}

.title {
    font-family: 'Oswald', sans-serif;
}

#containers {
    padding-top: 55px;
    /* border: 2px solid #9CC5A1;
    border-radius: 10px; */
    padding: 10px;
}

footer {
    background-color: green;
}
