#root {
    background-color: rgba(211, 234, 216, 0.9);
}

body {

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("../Images/grass-background.jpg");
}

/* .header {
    border: 1px solid black;
} */

.headerTitle {
    font-family: 'Oswald', sans-serif;
    color: #1F2421;
    font-weight: 600;
    font-size: 100px;
    padding-top: 25px;
    padding-left: 150px;
    width: 100%;
}

.title {
    font-family: 'Oswald', sans-serif;
}

#containers {
    padding-top: 70px;
}
