html {
    background-color: #F7FFF8;
}

header {
    border: 1px solid black;
    height: 150px;
}


#body {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    /* flex-direction: row; */
}

#loginContainer {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    flex-basis: 38%;
    height: 75%;
}
#registerContainer {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    flex-basis: 38%;
}

.title {
    font-size: 40px;
    padding-left: 180px;
}

.login-btn {
    padding-left: 200px;
}
